<%= form_for( @item ) do |f| %>
    <div class="field">
        <%= f.label :parent_id %><br />
        <%= f.collection_select :parent_id, @items, :id, :name, prompt: 'Select a parent' %>
    </div>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
    </div>

    <%= f.submit %>
<% end %>
